body {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center 180px;
    height: 100vh;
}

.container {
    min-height: 100vh;
    width: 100vw;
}

.container-header {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1350px;
    margin: 40px auto 0;
}


nav {
    position: relative;
}

.burger-menu__checkbox {
    position: relative;
    opacity: 0;
    width: 35px;
    height: 35px;
    z-index: 200;
    cursor: pointer;
}

.burger-menu {
    width: 40px;
    height: 40px;
}

/* кнопка */

.burger-line, .burger-line::before, .burger-line::after {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #cdcdcd;
    top: 50%;
    margin-top: -1.5px;
    left: 50%;
    margin-left: -15px;
    border-radius: 5%;
    z-index: 150;
}

.burger-line::before, .burger-line::after {
    content: " ";
    transition: 0.3s;
}

.burger-line::before {
    transform: translateY(-8px);
}

.burger-line::after {
    transform: translateY(8px);
}

.burger-menu_active::before {
    transform: rotate(45deg);
}

.burger-menu_active {
    height: 0;
}

.burger-menu_active::after {
    transform: rotate(-45deg);
}

.switch-mode {
    order:999;
    margin-left: calc(100% - 160px);
}

/* меню */
.burger-menu__menu {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 300px;
    background: linear-gradient(#f59e84, #9e907a);
    margin: -80px 0 0;
    height: calc(100vh - 240px);
    left: -700px;
    padding: 200px 40px 40px;
    transition: 0.5s;
    z-index: 100;
}

.burger-menu__menu_mode-play {
    background: linear-gradient(#d8daf0, #898eb3);
}

.burger-menu__menu a {
    text-decoration: none;
    color:white;
    margin-top: 20px;
    text-align: center;
}

.show-menu {
    left: calc(675px - 50vw);
}

/* карточки */

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1350px;

}

.container-card__items-in-section {
    margin: 17px 17px;
    width: 300px;
    height: 250px;
    border-radius: 5%;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    transition-duration: 0.5s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.container-card__items-in-section:hover {
    box-shadow: 0 0 15px 10px #c7c1c1
}

.container-card__items__img {
    position: relative;
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition-duration: 0.3s;
}

.container-card__items__img_exam {
    height: 100%;
}

.container-card__items-in-section  p {
    font-family: 'Lato', sans-serif;
    color: #2a3831;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.rotate {
    transform: rotateY(180deg);
}

.class-name:not(:hover){
    transform: rotateY(0deg);
}

.container-card__items_rotate {
    rotate: 90deg;
    background-image: url(./img/rotate.png);
    width: 50px;
    height: 50px;
    margin-top: -70px;
    margin-left: 240px;
    object-fit: cover;
    background-size: 100%;
}

.hide {
    opacity: 0;
}

.full-hide {
    display: none;
}

/* переключатель */
.switch-mode__checkbox{
    display: none;
}

.switch-mode__checkbox:checked + .switch-mode__for::before {
    right: -55px;
}
.switch-mode__for {
    position: relative;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    color: #cdcdcd;
    font-size: 25px;
}

.switch-mode__for:after {
    content: " ";
    width: 50px;
    height: 25px;
    background: linear-gradient(#f2d3cb, #f7f6cb);
    border: 1px solid #cdcdcd;
    border-radius: 15px;
    position: absolute;
    right: -60px;
    top: 5px;
    box-shadow: 0 0 2px 1px rgba(221, 221, 221, 1);
}

.switch-mode__for_mode-play:after {
    content: " ";
    width: 50px;
    height: 25px;
    background: linear-gradient(#d8daf0, #898eb3);
    border: 1px solid #cdcdcd;
    border-radius: 15px;
    position: absolute;
    right: -60px;
    top: 5px;
    box-shadow: 0 0 2px 1px rgba(221, 221, 221, 1);
}

.switch-mode__for::before {
    content: " ";
    width: 21px;
    height: 21px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    right: -33px;
    top: 8px;
    z-index: 1;
    transition-duration: 0.3s;
}

.container-card__items_mode-play {
    background: linear-gradient(#d8daf0, #898eb3);
}


/* exam */
.result {
    display: flex;
    padding-top: 10px;
    height: 40px;
    max-width: 1350px;
    margin: 0 auto;
    justify-content: flex-end;
    overflow-x: hidden;
}

.game-options-start {
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    height: 50px;
    background: linear-gradient(#d8daf0, #898eb3);
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    color: #2a3831;
    font-size: 25px;
    cursor: pointer;
    transition-duration: .5s;
    pointer-events: none;
}

.game-options-repeat {
    display: flex;
    opacity: 0;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-top: 30px;
    background-image: url(./img/repeat.svg), linear-gradient(#d8daf0, #898eb3);;
    background-size: 60%, cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .5s;
    pointer-events: none;
    background-position: 50%;
}

.star {
    width: 40px;
    height: 40px;
    background-image: url(./img/star.jpg);
    background-size: 100%;
    flex-shrink: 0;
}
.star-error {
    width: 40px;
    height: 40px;
    background-image: url(./img/star-eror.jpg);
    background-size: 100%;
    flex-shrink: 0;
}

.inactive {
    opacity: 0.5;
}

.inactive-block {
    pointer-events: none;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

.delete {
    display: none;
}

.modal-success {
    display: flex;
    justify-content: center;
    position: absolute;
    background-image: url(./img/success.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}

.modal-failure {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    position: absolute;
    background-image: url(./img/failure.jpg);
    background-position: 50% calc(50% - 150px);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: red;
    font-size: 25px;
}
@media(max-width: 1335px) {
    .container-header {
        max-width: 1000px;
    }

    .result {
        max-width: 1000px;
    }

    .switch-mode {
        margin-left: calc(100% - 160px);
    }

    .container-header p {
        margin-left: 40%;
    }

    .show-menu {
        left: calc(500px - 50vw);
    }
}

@media(max-width: 1000px) {
    .container-header {
        max-width: 650px;
    }

    .result {
        max-width: 650px;
    }

    .container-header p {
        margin-top: 1%;
    }

    .show-menu {
        left: calc(325px - 50vw);
    }
}

@media(max-width: 667px) {
    .container-header {
        max-width: 300px;
    }

    .modal-success {
        background-size: 100%;    
    }

    .modal-failure {
        padding-top: 50px;
        background-position: 50%;
        background-size: 100%;    
    }

    .result {
        max-width: 300px;
    }

    .burger-menu__menu {
        width: 300px;
    }

    .switch-mode {
        margin-top: 2%;
    }

    .show-menu {
        left: calc(150px - 50vw);
    }
}

@media(max-width: 340px) {
    .container-header {
        max-width: 220px;
    }

    .result {
        max-width: 220px;
    }

    .show-menu {
        left: calc(110px - 50vw);
    }

    .container-card__items-in-section {
        width: 200px;
    }

    .burger-menu__menu {
        width: calc(100vw - 80px);
    }

    .switch-mode {
        margin-left: 25%;
        margin-top: 2%;
    }
}
