body {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center 180px;
    overflow-x: hidden;
    font-family: Roboto;
}

.container {
    min-height: 100vh;
}

.container-header {
    display: flex;
    width: 100%;
    max-width: 1350px;
    margin: 40px auto 0;
}


nav {
    position: relative;
}

.burgerMenu__checkbox {
    position: relative;
    opacity: 0;
    width: 35px;
    height: 35px;
    z-index: 10;
}

.burgerMenu {
    width: 40px;
    height: 40px;
}

/* кнопка */

.burgerLine, .burgerLine::before, .burgerLine::after {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #cdcdcd;
    top: 50%;
    margin-top: -1.5px;
    left: 50%;
    margin-left: -15px;
    border-radius: 5%;
    z-index: 5;
}

.burgerLine::before, .burgerLine::after {
    content: " ";
    transition: 0.3s;
}

.burgerLine::before {
    transform: translateY(-8px);
}

.burgerLine::after {
    transform: translateY(8px);
}

.burgerMenu_active::before {
    transform: rotate(45deg);
}

.burgerMenu_active {
    height: 0;
}

.burgerMenu_active::after {
    transform: rotate(-45deg);
}

.switch-mode {
    position: absolute;
    right: 0;
}

/* меню */
.menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 300px;
    background-color: honeydew;
    margin: -80px 0 0;
    height: 100vh;
    left: -700px;
    padding: 200px 40px 40px;
    transition: 0.5s;
}


.showMenu {
    left: calc(675px - 50vw);
}
